{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'auth/css/style.css' %}">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					</br></br>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST" class="my-login-validation" novalidate="">
								<div id="message" class="alert" style="margin-bottom: 8px;"></div>
                                <div class="form-group">
									<label for="email">Username</label>
									<input id="username" type="text" class="form-control" id="username" name="username" value="" required autofocus>
									<div class="invalid-feedback">
										Username is valid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
									</label>
									<input id="password" type="password" class="form-control" id="pwd" name="password" required data-eye>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block btn-save">
										Login
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.min.js"></script>
	<script src="{% static 'auth/js/auth.js' %}"></script>
	<script>
		$(function(){
			$('.my-login-validation').submit(function(e){
				console.log(e)
				e.preventDefault();
				data = $(this).serialize();
				$.ajax({
                    url: '/api/login/', 
                    data: data,
                    type: 'POST',
					beforeSend: function(){
                        $('.btn-save').html("<i class='fa fa-spinner fa fa-spin' style='color:white'></i> <font color='white'>Sign in...</font>");
                        $('.brn-save').attr('disabled',true);
                    }  
					}).done(function(response) {

						// console.log(response)
						username = document.querySelector('#username');
						username.focus();
						localStorage.setItem('token',response.key)
						window.location= '/c-panel';
					})
					.fail(function(err) {
						console.log(err)
						errorMessageLogin = err.responseJSON.non_field_errors;
						message = document.querySelector('#message');
						message.style.display = "block";
						message.setAttribute('class', 'alert-danger form-control')
						message.innerHTML = 'Invalid username and password';
						username.style.border = '1px solid red';
						pwd.style.border = '1px solid red';
						message.style.border = "1 px solid red";						
						
						setTimeout(function() {
							message.style.display = "none";
						},60000)
						$('.btn-save').html("<font color='white'>Sign in</font>");
					});
			});
		})
	</script>

</body>
</html>
