

{% extends 'layouts/main.html' %}
{% load static %}
{% block css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}

<div class="featured-post-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">
                    <!-- Single Featured Post -->
                    <h3>Total Anggota {{ total }} <br><br><br></h3>
                    <div class="col-12 col-lg-12">
                        <canvas id="myChart"></canvas>
                    </div>                        
                </div>
            </div>
            {% include 'layouts/sidebar-news.html' %}
        </div>
    </div>
</div><br>


{% endblock  %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var data = {{ data|safe }}
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ label|safe }},
            datasets: [{
                data :data,
                backgroundColor: [
                    'rgba(0,154,23)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255,255,0)',
                    'rgba(255, 0, 0)',
                ],
                borderWidth:1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock  %}
    
    