

{% extends 'layouts/main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <style>
        .anggota {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .anggota td, .anggota th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .anggota tr:nth-child(even){background-color: #f2f2f2;}

        .anggota tr:hover {background-color: #ddd;}

        .anggota th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #2d5f0b;
            color: white;
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .polos {background-color: #02b32e;} /* Blue */
        .putih {background-color: #ffffff;} /* Red */ 
        .kuning {background-color: #fffb00; color: black;} /* Gray */ 
        .merah {background-color: #ff0000;} /* Black */

    </style>
{% endblock %}

{% block content %}

<div class="featured-post-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">

                    <!-- Single Featured Post -->
                    <div class="col-12 col-lg-12">
                         <div class="box">
                            <div class="box-header">
                            </div>
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped anggota">
                                    <thead>
                                    <tr>
                                        <th>Profile Picture</th>
                                        <th>Nama </th>
                                        <th>Alamat</th>
                                        <th>No Hp</th>
                                        <th>Jabatan</th>
                                        <th>Tingkat</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in anggota %}
                                    <tr>
                                        <td>
                                            <img src="{{ data.profile_pic.url }}" width="100" height="100">
                                        </td>
                                        <td>{{data.nama}}</td>
                                        <td>{{data.alamat}}</td>
                                        <td>{{data.no_hp}}</td>
                                        <td>{{data.jabatan}}</td>
                                        <td>
                                            {% if data.tingkat == 'polos' %}
                                                <a class="button polos" href="">{{ data.tingkat }}</a>
                                            {% elif data.tingkat == 'putih' %}
                                                <a class="button putih" href="">{{ data.tingkat }}</a>
                                            {% elif data.tingkat == 'kuning' %}
                                                <a class="button kuning" href="">{{ data.tingkat }}</a>
                                            {% elif data.tingkat == 'merah' %}
                                                <a class="button merah" href="">{{ data.tingkat }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>    
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
            {% include 'layouts/sidebar-news.html' %}
        </div>
    </div>
</div><br>


{% endblock  %}

{% block js %}
<script src="{% static 'js/datatables.js' %}" ></script>
<script>
    $(document).ready(function(){
        var table = $("#example1").DataTable({
            responsive: true
        });
        new $.fn.dataTable.FixedHeader( table );
    });
</script>
{% endblock  %}
    
    