

{% extends 'layouts/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" href="{% static 'css/main.css'%}">
{% endblock %}

{% block content %}

    <!-- ##### Editorial Post Area Start ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="col-12 col-md-7 col-lg-12">
                <div class="section-heading">
                    <h6>Gallery</h6>
                </div>

                <div class="row cards">
                    <!-- Single Post -->
                    {% for data in gallery  %}
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="single-video-post">
                                <img src="https://img.youtube.com/vi/{{ data.youtube_id }}/default.jpg" alt="">
                                <!-- Video Button -->
                                <div class="videobtn">
                                    <a href="{{ data.url_video }}" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                    
                    

                </div>
                <div class=" container col-12 col-lg-4">
                    {% if gallery.has_other_pages %}
                        <div class="pagination">
                            {% if gallery.has_previous %}
                                <a href="?page={{ gallery.previous_page_number }}">»</a>
                            {% else %}
                                <a href="#">&laquo;</a>
                            {% endif %}
                            {% for i in gallery.paginator.page_range %}
                                {% if gallery.number == i %}
                                    <a class="active" href="?page={{ i }}">{{ i }}</a>
                                {% else %}
                                    <a href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if gallery.has_next %}
                                <a href="?page={{ gallery.next_page_number }}">»</a>
                            {% else %}
                                <a href="#">&raquo;</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>                
            </div>    
        </div>
    </div>


{% endblock %}

    
    